<div class="display">
  <h2>Add Collaborators</h2>
</div>

<div class="space">
  <% if @wiki.user == current_user %>

    <%= simple_form_for collaborators_path, method: :post do %>
      <%= text_field_tag :email %>
      <%= hidden_field_tag :wiki_id, @wiki.id %>
      <%= submit_tag "Add Collaborator",class: "btn btn-success"%>
    <% end %>
  <% end %>

  <h2>Wiki Collaborators</h2>
  <% @wiki.collaborators.each do |collaborator| %>
    <p class="lead">
      <%= collaborator.user.email %>
      <% if @wiki.user == current_user %>
        <%= link_to "", [collaborator], method: :delete, class: 'glyphicon glyphicon-trash' %>
      <% end %>
    </p>
  <% end %>
</div>